/* Sponsor section */
.sponsors h2 {
  color: #34a7bd;
}
.sponsor-section {
  margin: 2rem 0;
}
.sponsor-tier {
  font-size: 2rem !important;
  color: #34a7bd !important;
}
.sponsor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sponsor-list .sponsor-logo {
  margin: 3rem;
}
.sponsor-list .sponsor-logo img {
  height: 50px;
}
@media screen and (max-width: 480px) {
  .sponsor-tier {
    margin-bottom: 0;
  }
  .sponsor-list {
    flex-direction: column;
  }
  .sponsor-list .sponsor-logo {
    margin: 2rem;
  }
  .sponsors .btn {
    display: block;
    width: 100%;
  }
}

/* Speaker section */
.speaker-list {
  margin-top: 3rem;
}
.speaker {
  margin-bottom: 3rem;
}
.speaker-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-bottom: 15px;
}
@media screen and (max-width: 480px) {
  .speakers .btn {
    display: block;
    width: 100%;    
  }
}

/* Venue section */
.venue h2, .venue p {
  color: white;
}
.venue iframe {
  width: 100%;
  margin-top: 40px;
}
