.dn09ay2::-webkit-scrollbar{display:none;}
.ljxc1ti{width:250px;}@screen md{.ljxc1ti{width:300px;}}
.d1ppw69u{@apply relative;height:300px;}@srcreen md{.d1ppw69u{height:330px;}}
.dfuiiv6{background-color:#000125;}
.s1i0dwc8{-webkit-filter:brightness(3);filter:brightness(3);-webkit-filter:grayscale(100%);-webkit-filter:grayscale(100%);filter:grayscale(100%);}
