.d1yxr78p{height:145px;font-size:15px;}@screen md{.d1yxr78p{height:170px;font-size:16px;}}@screen lg{.d1yxr78p{height:303px;font-size:32px;}}
.a1a1jiea{z-index:1;top:20px;right:20px;}
.aye7m84{box-shadow:0 6px 16px 0 rgba(0,0,0,0.07);height:50px;width:50px;bottom:-18px;left:8px;}@screen md{.aye7m84{height:60px;width:60px;left:16px;bottom:-21px;}}@screen lg{.aye7m84{height:125px;width:125px;left:32px;bottom:-40px;}}
