.i23wnem:checked{@apply bg-white;}.i23wnem:checked + ul{@apply block w-screen bg-white py-8;position:fixed;top:var(--mobile-menu-top);left:0;z-index:100;}
.u179enuq{@apply flex flex-col justify-center items-center;min-height:530px;}
.l1ki44au{position:fixed;z-index:200;}
