@screen xl{.s1m6tdth{min-height:800px;}}
.h15n3xca{--mobile-menu-top:68px;}@screen md{.h15n3xca{height:140px;--mobile-menu-top:100px;}}
.ddapylv{min-height:450px;}@screen md{.ddapylv{@apply flex justify-between;}}
.d1ql4s40{@apply justify-center;}@screen md{.d1ql4s40{@apply justify-center;}}@screen lg{.d1ql4s40{@apply justify-end;}}
.lcmbdvy{width:240px;height:226px;}@screen lg{.lcmbdvy{width:440px;height:418px;}}
