.hamburger .line {
  width: 24px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  background-color: black;
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
  background-color: black;
}

a.active {
  @apply text-blue;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0px rgba(62, 53, 138, 0.2);
  }
  100% {
    box-shadow: 0 0 0 12px rgba(62, 53, 138, 0);
  }
}

@keyframes wave-animation {
  0% {
    transform: rotate(-25deg);
  }
  10% {
    transform: rotate(-35deg);
  }
  20% {
    transform: rotate(-12deg);
  }
  30% {
    transform: rotate(-35deg);
  }
  40% {
    transform: rotate(-9deg);
  }
  50% {
    transform: rotate(-25deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
