.h1prri2d{height:64px;--mobile-menu-top:64px;}@screen md{.h1prri2d{height:100px;--mobile-menu-top:100px;}}
.lt2oau5{width:118px;height:35px;}@screen md{.lt2oau5{width:170px;height:54px;}}
.nasdsj3{max-width:1300px;}
@media (min-width:1400px){.ucqd1ta{@apply -mx-5;}}
