.d1ay8t0q{height:68px;opacity:0;-webkit-transform:translateY(-100%);-ms-transform:translateY(-100%);transform:translateY(-100%);-webkit-transition:-webkit-transform 200ms ease-in-out,opacity 250ms ease-out;-webkit-transition:transform 200ms ease-in-out,opacity 250ms ease-out;transition:transform 200ms ease-in-out,opacity 250ms ease-out;}
.d1ei8phz{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0);}
.hcygxkl{--mobile-menu-top:64px;}
