html {
  scroll-behavior: smooth;
}

html,
body {
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
}

a {
  text-decoration: none;
}

input[disabled],
button[disabled] {
  cursor: not-allowed;
}
