:root {
  --gutter: 40px;
}

@tailwind base;

@tailwind components;
@import './main.css';
@import '../components/Sponsors/style.css';
@import '../pages/home/style.css';

body {
  @apply text-black font-sans font-normal;
}

@responsive {
  .row {
    margin-left: calc(-1 * var(--gutter) / 2);
    margin-right: calc(-1 * var(--gutter) / 2);
  }
  .col {
    padding-left: calc(var(--gutter) / 2);
    padding-right: calc(var(--gutter) / 2);
  }
}

.translate-y-center {
  transform: translateY(-50%);
}

@tailwind utilities;
