.dlh6kg0{height:320px;}@screen md{.dlh6kg0{height:457px;}}@screen lg{.dlh6kg0{height:712px;}}
.l1eqzaob{z-index:-1;}
.hbcffrt{font-size:17px;}@screen md{.hbcffrt{font-size:28px;}}@screen lg{.hbcffrt{font-size:60px;}}
.dh11gyx{font-size:12px;}@screen md{.dh11gyx{font-size:16px;}}@screen lg{.dh11gyx{font-size:32px;}}
.a1ldd9uv{font-size:12px;}@screen md{.a1ldd9uv{font-size:22px;}}@screen lg{.a1ldd9uv{font-size:28px;}}
.d1cok1sc{margin-top:44px;margin-bottom:51px;}@screen md{.d1cok1sc{margin-top:86px;margin-bottom:50px;}}@screen lg{.d1cok1sc{margin-top:171px;margin-bottom:113px;}}
.hlpy84u{font-size:17px;}@screen md{.hlpy84u{font-size:28px;}}@screen md{.hlpy84u{font-size:60px;}}
